apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ .Name }}
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "{{ .SyncWave }}"
spec:
  project: default
{{- if .IsKustomize }}
  source:
    repoURL: {{ .Repository }}
    targetRevision: {{ .Tag }}
    path: {{ .Path }}
{{- else }}
  sources:
    - repoURL: {{ .Repository }}
      chart: {{ .Chart }}
      targetRevision: {{ .Version }}
      helm:
        valueFiles:
          - $values/{{ .Name }}/values.yaml
    - repoURL: '{{ .RepoURL }}'
      targetRevision: {{ .TargetRevision }}
      ref: values
{{- end }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ .Namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
